*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

:root{
   --container-width: 1170px;
   --column-space: 10px;
   --column-space-small: 5px;
}

.container{
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 10px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(0px - var(--column-space));
    margin-right: calc(0px - var(--column-space));
}

.row.row-space > .col{
    padding-bottom: calc(2 * var(--column-space));
}

.row.row-space-small > .col{
    padding-bottom: calc(2 * var(--column-space-small));
}

.row.row-small > .col{
    padding: 0 var(--column-space-small);
}

.row.row-collapse > .col{
    padding: 0;
}

.row.row-small{
    margin-left: calc(0px - var(--column-space-small));
    margin-right: calc(0px - var(--column-space-small));
}

.row.row-collapse{
    margin-left: 0;
    margin-right: 0;
}

.row.row-center{
    justify-content: center;
}

.row.row-start{
    justify-content: flex-start;
}

.row.row-end{
    justify-content: flex-end;
}

.row.row-column{
    flex-direction: column;
}

.col{
    padding: 0 var(--column-space);
}

.col-1{
    flex-basis: calc(100% / (12/1));
    max-width: calc(100% / (12/1));
}

.col-2{
    flex-basis: calc(100% / (12/2));
    max-width: calc(100% / (12/2));
}

.col-3{
    flex-basis: calc(100% / (12/3));
    max-width: calc(100% / (12/3)); /*100%/(12/3)*/
}

.col-4{
    flex-basis: calc(100% / (12/4));
    max-width: calc(100% / (12/4));
}

.col-5{
    flex-basis: calc(100% / (12/5));
    max-width: calc(100% / (12/5));
}

.col-6{
    flex-basis: calc(100% / (12/6));
    max-width: calc(100% / (12/6));
}

.col-7{
    flex-basis: calc(100% / (12/7));
    max-width: calc(100% / (12/7));
}

.col-8{
    flex-basis: calc(100% / (12/8));
    max-width: calc(100% / (12/8));
}

.col-9{
    flex-basis: calc(100% / (12/9));
    max-width: calc(100% / (12/9));
}

.col-10{
    flex-basis: calc(100% / (12/10));
    max-width: calc(100% / (12/10));
}

.col-11{
    flex-basis: calc(100% / (12/11));
    max-width: calc(100% / (12/11));
}

.col-12{
    flex-basis: calc(100% / (12/12));
    max-width: calc(100% / (12/12));
}

@media all and (min-width: 576px){
    .col-sm-1{
        flex-basis: calc(100% / (12/1));
        max-width: calc(100% / (12/1));
    }
    
    .col-sm-2{
        flex-basis: calc(100% / (12/2));
        max-width: calc(100% / (12/2));
    }
    
    .col-sm-3{
        flex-basis: calc(100% / (12/3));
        max-width: calc(100% / (12/3)); /*100%/(12/3)*/
    }
    
    .col-sm-4{
        flex-basis: calc(100% / (12/4));
        max-width: calc(100% / (12/4));
    }
    
    .col-sm-5{
        flex-basis: calc(100% / (12/5));
        max-width: calc(100% / (12/5));
    }
    
    .col-sm-6{
        flex-basis: calc(100% / (12/6));
        max-width: calc(100% / (12/6));
    }
    
    .col-sm-7{
        flex-basis: calc(100% / (12/7));
        max-width: calc(100% / (12/7));
    }
    
    .col-sm-8{
        flex-basis: calc(100% / (12/8));
        max-width: calc(100% / (12/8));
    }
    
    .col-sm-9{
        flex-basis: calc(100% / (12/9));
        max-width: calc(100% / (12/9));
    }
    
    .col-sm-10{
        flex-basis: calc(100% / (12/10));
        max-width: calc(100% / (12/10));
    }
    
    .col-sm-11{
        flex-basis: calc(100% / (12/11));
        max-width: calc(100% / (12/11));
    }
    
    .col-sm-12{
        flex-basis: calc(100% / (12/12));
        max-width: calc(100% / (12/12));
    }
}

@media all and (min-width: 768px){
    .col-md-1{
        flex-basis: calc(100% / (12/1));
        max-width: calc(100% / (12/1));
    }
    
    .col-md-2{
        flex-basis: calc(100% / (12/2));
        max-width: calc(100% / (12/2));
    }
    
    .col-md-3{
        flex-basis: calc(100% / (12/3));
        max-width: calc(100% / (12/3)); /*100%/(12/3)*/
    }
    
    .col-md-4{
        flex-basis: calc(100% / (12/4));
        max-width: calc(100% / (12/4));
    }
    
    .col-md-5{
        flex-basis: calc(100% / (12/5));
        max-width: calc(100% / (12/5));
    }
    
    .col-md-6{
        flex-basis: calc(100% / (12/6));
        max-width: calc(100% / (12/6));
    }
    
    .col-md-7{
        flex-basis: calc(100% / (12/7));
        max-width: calc(100% / (12/7));
    }
    
    .col-md-8{
        flex-basis: calc(100% / (12/8));
        max-width: calc(100% / (12/8));
    }
    
    .col-md-9{
        flex-basis: calc(100% / (12/9));
        max-width: calc(100% / (12/9));
    }
    
    .col-md-10{
        flex-basis: calc(100% / (12/10));
        max-width: calc(100% / (12/10));
    }
    
    .col-md-11{
        flex-basis: calc(100% / (12/11));
        max-width: calc(100% / (12/11));
    }
    
    .col-md-12{
        flex-basis: calc(100% / (12/12));
        max-width: calc(100% / (12/12));
    }
}

@media all and (min-width: 992px){
    .col-lg-1{
        flex-basis: calc(100% / (12/1));
        max-width: calc(100% / (12/1));
    }
    
    .col-lg-2{
        flex-basis: calc(100% / (12/2));
        max-width: calc(100% / (12/2));
    }
    
    .col-lg-3{
        flex-basis: calc(100% / (12/3));
        max-width: calc(100% / (12/3)); /*100%/(12/3)*/
    }
    
    .col-lg-4{
        flex-basis: calc(100% / (12/4));
        max-width: calc(100% / (12/4));
    }
    
    .col-lg-5{
        flex-basis: calc(100% / (12/5));
        max-width: calc(100% / (12/5));
    }
    
    .col-lg-6{
        flex-basis: calc(100% / (12/6));
        max-width: calc(100% / (12/6));
    }
    
    .col-lg-7{
        flex-basis: calc(100% / (12/7));
        max-width: calc(100% / (12/7));
    }
    
    .col-lg-8{
        flex-basis: calc(100% / (12/8));
        max-width: calc(100% / (12/8));
    }
    
    .col-lg-9{
        flex-basis: calc(100% / (12/9));
        max-width: calc(100% / (12/9));
    }
    
    .col-lg-10{
        flex-basis: calc(100% / (12/10));
        max-width: calc(100% / (12/10));
    }
    
    .col-lg-11{
        flex-basis: calc(100% / (12/11));
        max-width: calc(100% / (12/11));
    }
    
    .col-lg-12{
        flex-basis: calc(100% / (12/12));
        max-width: calc(100% / (12/12));
    }
}

@media all and (min-width: 1200px){
    .col-xl-1{
        flex-basis: calc(100% / (12/1));
        max-width: calc(100% / (12/1));
    }
    
    .col-xl-2{
        flex-basis: calc(100% / (12/2));
        max-width: calc(100% / (12/2));
    }
    
    .col-xl-3{
        flex-basis: calc(100% / (12/3));
        max-width: calc(100% / (12/3)); /*100%/(12/3)*/
    }
    
    .col-xl-4{
        flex-basis: calc(100% / (12/4));
        max-width: calc(100% / (12/4));
    }
    
    .col-xl-5{
        flex-basis: calc(100% / (12/5));
        max-width: calc(100% / (12/5));
    }
    
    .col-xl-6{
        flex-basis: calc(100% / (12/6));
        max-width: calc(100% / (12/6));
    }
    
    .col-xl-7{
        flex-basis: calc(100% / (12/7));
        max-width: calc(100% / (12/7));
    }
    
    .col-xl-8{
        flex-basis: calc(100% / (12/8));
        max-width: calc(100% / (12/8));
    }
    
    .col-xl-9{
        flex-basis: calc(100% / (12/9));
        max-width: calc(100% / (12/9));
    }
    
    .col-xl-10{
        flex-basis: calc(100% / (12/10));
        max-width: calc(100% / (12/10));
    }
    
    .col-xl-11{
        flex-basis: calc(100% / (12/11));
        max-width: calc(100% / (12/11));
    }
    
    .col-xl-12{
        flex-basis: calc(100% / (12/12));
        max-width: calc(100% / (12/12));
    }
}

@media all and (min-width: 1400px){
    .col-xxl-1{
        flex-basis: calc(100% / (12/1));
        max-width: calc(100% / (12/1));
    }
    
    .col-xxl-2{
        flex-basis: calc(100% / (12/2));
        max-width: calc(100% / (12/2));
    }
    
    .col-xxl-3{
        flex-basis: calc(100% / (12/3));
        max-width: calc(100% / (12/3)); /*100%/(12/3)*/
    }
    
    .col-xxl-4{
        flex-basis: calc(100% / (12/4));
        max-width: calc(100% / (12/4));
    }
    
    .col-xxl-5{
        flex-basis: calc(100% / (12/5));
        max-width: calc(100% / (12/5));
    }
    
    .col-xxl-6{
        flex-basis: calc(100% / (12/6));
        max-width: calc(100% / (12/6));
    }
    
    .col-xxl-7{
        flex-basis: calc(100% / (12/7));
        max-width: calc(100% / (12/7));
    }
    
    .col-xxl-8{
        flex-basis: calc(100% / (12/8));
        max-width: calc(100% / (12/8));
    }
    
    .col-xxl-9{
        flex-basis: calc(100% / (12/9));
        max-width: calc(100% / (12/9));
    }
    
    .col-xxl-10{
        flex-basis: calc(100% / (12/10));
        max-width: calc(100% / (12/10));
    }
    
    .col-xxl-11{
        flex-basis: calc(100% / (12/11));
        max-width: calc(100% / (12/11));
    }
    
    .col-xxl-12{
        flex-basis: calc(100% / (12/12));
        max-width: calc(100% / (12/12));
    }
}