.service-box{
    @include section-base(35px);
    background-image: linear-gradient(to bottom, #EEE8E6 0% , #fff 20%);
    h1{
        color: $secondaryColor;
        font-size: 2rem;
        margin: 60px 0 0 0;
    }
    p{
        margin: 0;
        a{
            &:first-child{
                color: $textColor;
            }
            &:last-child{
                color: $headingColor;
            }
        }
    }
    .service-meaning{
        position: relative;
        .service-meaning__text{
            width: 80%;
            margin-top: 30px;
            p{
                color: $secondaryColor;
                font-size: 1.1rem;
            }
        }
        .service-meaning__img{
            position: absolute;
            top: -100px;
            right: 0;
        }
    }
    .service-menu{
        display: flex;
        justify-content: space-between;
        width: 350px;
        margin-top: 35px;
        padding: 8px 0;
        border-bottom: 1px solid $primaryColor;
        color: $primaryColor;
        cursor: pointer;
    }
    .service-list__location{
        margin: 90px 0 120px 0;
        .service-location__content{
            margin-top: 20px;
            h2{
                margin: 0
            }
            span{
                padding: 10px 30px;
                text-transform: uppercase;
                border: 2px solid #ccb895;
                color: #ccb895;
                margin-top: 20px;
                display: block;
                width: 150px;
                font-weight: 500;
                text-align: center
            }
        }
    }
    .service-text{
        @include text;
    }
}