.detail-location-box{
    @include section-base(35px);
    background-image: linear-gradient(to bottom, #EEE8E6 0% , #fff 7%);
    p{
        margin: 40px 0 0 0;
        a{
            &:first-child,&:nth-of-type(2){
                color: $textColor;
            }
            &:last-child{
                color: $headingColor;
            }
        }
    }
    .detail__max-space{
        padding: 13px 0 62px 0;
        border-bottom: 6px solid #e1e1e1;
        .max-space__img{
            height: 100%;
                width: 100%;
            img{
                height: 100%;
                width: 100%;
            }
        }
        .max-space__content{
            margin-left: 30px;
            h2{
                font-size: 2rem;
                font-weight: bold;
                margin-bottom: 0;
            }
            p{
                &:nth-of-type(1){
                    margin: 0;
                    display: flex;
                    align-items: center;
                    span{
                        line-height: 26px;
                        margin: 0 8px;
                        color: $headingColor;
                        font-size: 1.1rem;
                    }
                }
                &:nth-of-type(2),
                &:nth-of-type(3){
                    margin: 20px 0 0 0;
                    color: $headingColor;
                    font-size: 1.1rem;
                }
            }
            .star-icon{
                margin-top: 15px;
            }
        }
    }
    .customer-reviews{
        padding: 25px 0 30px 0;
        border-bottom: 6px solid #e1e1e1;
        .reviews{
            h3{
                font-size: 2rem;
                font-weight: 100;
                margin: 5px 0;
            }
            h2{
                font-size: 4rem;
                font-weight: 500;
                height: 45px;
                line-height: 50px;
                margin: 0 0 12px 0;
            }
            p{
                margin: 0;
            }
            .rating-scale{
                padding: 50px 0;
                .review-detail{
                    display: flex;
                    align-items: center;
                    padding: 5px 0;
                    span{
                        &:first-child{
                            color: $headingColor;
                        }
                    }
                    .review-nav{
                        position: relative;
                        width: 200px;
                        height: 13px;
                        background-color: #f1f1f1;
                        border-radius: 10px;
                        margin: 0 20px;
                        .review_5-star{
                            @include reviewNavChild(25%)
                        }
                        .review_4-star{
                            @include reviewNavChild(45%)
                        }
                        .review_3-star{
                            @include reviewNavChild(65%)
                        }
                            .review_2-star{
                            @include reviewNavChild(80%)
                        }
                        .review_1-star{
                            @include reviewNavChild(91%)
                        }
                        
                    }
                }
            }
        }
        .comments{
            margin-top: 28px;
        }
    }
}