.article-box{
    @include section-base(35px);
    background-image: linear-gradient(to bottom, #EEE8E6 0% , #fff 5%);
    .container{
        h1{
            text-align: center;
            color: $secondaryColor;
            font-size: 2rem;
            margin: 60px 0 0 0;
        }
        & > p{
            margin: 0;
            text-align: center;
            a{
                &:first-child,&:nth-of-type(2){
                    color: $textColor;
                }
                &:last-child{
                    color: $headingColor;
                }
            }
        }
        .article-box__content{
            padding: 40px 160px 0 160px;
            img{
                width: 100%;
            }
            .article-box__detail{
                padding: 0 25px;
                & > p{
                    // font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    text-align: unset;
                    font-weight: bold;
                    color: $headingColor;
                    font-style: italic;
                    font-size: 1.2rem;
                    padding: 30px 0;
                }
                .bean-caffe__detail{
                    margin-bottom: 20px;
                    h2{
                        font-size: 1.8rem;
                        margin: 0 0 25px 0;
                    }
                    p{
                        font-size: 1.1rem;
                        color: $headingColor;
                    }
                    .img__caffe-culi{
                        img{
                            width: 85%;
                            display: flex;
                            margin: 0 auto;
                        }
                    }
                    .img__caffe-cherry{
                        margin-top: 40px;
                        img{
                            width: 66%;
                            display: flex;
                            margin: 0 auto;
                        }
                    }
                }
                .share-socials{
                    margin: 60px 0 20px 0;
                    padding-bottom: 10px;
                    border-bottom: 1px solid #E0E0E0;
                    .share-socials__content{
                        display: flex;
                        span{
                            font-size: 1.1rem;
                            color: $headingColor;
                        }
                        ul{
                            display: flex;
                            li{
                                margin: 0 15px;
                                a{
                                    font-size: 1.3rem;
                                }
                            }
                        }
                    }
                }
            }
        }
        .related-news{
            padding-bottom: 20px;
            border-bottom: 5px solid #E0E0E0;
            & > h2{
                text-align: center;
                font-weight: 500;
                font-size: 2rem;
                margin-bottom: 40px;
            }
            .tidings-hot-list_wrapper{
                @include section-base(10px);
                .tidings-hot-list__img{
                    width: 100%;
                    height: 280px;
                    img{
                        @extend .tidings-hot-list__img
                    }
                }
                .tidings-hot-list__content{
                    padding-top: 22px;
                    span{
                        color: $primaryColor;
                        font-size: 0.92rem;
                        margin: 10px 0;
                        text-transform: uppercase;
                        font-weight: bold;
                    }
            
                    h2{
                        font-size: 1.42rem;
                        font-weight: bold;
                    }
            
                    p{
                        color: #7f7f7f;
                    }
                }
            }
        }
    }
}