@font-face {
    font-family: Lato;
    src: url('../fonts/lato-regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: Lato;
    src: url('../fonts/lato-light.ttf');
    font-weight: 100;
}

@font-face {
    font-family: Lato;
    src: url('../fonts/lato-bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Fontbox;
    src: url('../fonts/SVN-Fontbox_Boathouse_Filled.otf');
}