$primaryColor: #898f4b; //Màu chính

$primaryColorOpacity: #898f4bea;

$secondaryColor: #242424; //Màu phụ

$fontSize: 14px; //Font size mặc định

$textColor: #777777; //Màu chữ mặc định

$linkColor: #403c34; //Màu liên kết

$fontFamily: Lato, san-serif; //Font chữ mặc định'

$headingColor: #0f0f0f; //Màu mặc định các thẻ heading

//Kích thước màn hình responsive