.yield-box{
    @include section-base(35px);
    background-image: linear-gradient(to bottom, #EEE8E6 0% , #fff 5%);
    h1{
        color: $secondaryColor;
        font-size: 2rem;
        margin: 60px 0 0 0;
    }
    p{
        margin: 0;
        a{
            &:first-child{
                color: $textColor;
            }
            &:last-child{
                color: $headingColor;
            }
        }
    }
    .yield-list{
        margin-top: 30px;
        .yield-heading{
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 3px solid #E2E0D7;
            .yield-name{
                font-size: 1.8rem;
                color: $headingColor;
                font-weight: bold;
            }
            span{
                color: $secondaryColor;
                font-weight: bold;
                text-transform: uppercase;
                padding-top: 8px;
            }
        }
        .yield-content{
            margin-top: 25px;
            margin-bottom: 65px;
            .yield-img{
                width: 100%;
                height: 269px;
                img{
                width: 100%;
                height: 100%;
                }
            }
            .yield-info{
                margin-top: 26px;
                span{
                    color: $secondaryColor;
                    font-size: 1.3rem;
                    font-weight: bold;
                }
                p{
                    font-size: 1.25rem;
                }
            }
        }
    }
    .yield-text{
        @include text;
    }
}