.partner-box{

    @include section-base(30px);

    h2{
        text-align: center;
        font-size: 2.14rem;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    .partner-box__lists{
        .partner-box--item{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            img{
                width: auto;
                max-height: 85px;
            }
        }
    }
}