.footer{
   .footer__logo{
        @media screen and (max-width: 768px) {
            text-align: center;
            margin-bottom: 20px;
        }
        img{
            @media screen and (max-width: 768px) {
                height: 100px;
            }
        }
   } 
   .footer__info--title{
        font-weight: bold;
        color: #2a2c31;
   }

   .footer__subscribe{
        .footer__subscribe--title{
            @extend .footer__info--title;
            text-transform: uppercase;
        }

        .footer__subscribe--item{

            position: relative;

            &::before{
                content: '';
                position: absolute;
                top: 15px;
                left: 10px;
                width: 20px;
                height: 20px;
                display: block;
                background: url('../images/email-icon.png') no-repeat;
                background-size: 100%!important;
            }

            input{
                background: #e6e6e6;
                width: 100%;
                padding: 15px 15px 15px 45px;
            }
           
        }

        .footer--socials{
            margin-top: 20px;
            ul{
                display: flex;
                li{
                    margin: 0 10px;
                    a{
                        font-size: 1.5rem;
                    }
                }
            }
        }
   }
}